*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: antiquewhite;
    padding: 20px;
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left:60%;
}
li{  
    color: gray;
    margin-right:10px;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding:20px;
}
.searchbar{
    margin: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width:2px;
    border-style: solid;
    display:inline-block;
    width: 200px;
}
.products{
    text-align: center;
    margin-left:20px;
}
.box:hover{
    background-color:black;
    color:white;
}
.About{
    text-align: center;
    margin-top:20px;
    padding:25px;
}
.contact{
    text-align: center;
    background-color: black;
    color: antiquewhite;
    margin width: 50px;
    padding: 5px;
}
